.wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.slogan-text {
    background: #fff;
}

.text-emphasis {
    color: #5639cb;
}

.static-one {
    background: linear-gradient(159.63deg, #FF7E72 15.13%, #FF5E5E 100%);
    height: 30rem;
}

.static-two {
    background: #fff;
    height: 30rem;
}

@media(max-aspect-ratio: 9/7) {
    .static-one .static-two {
        height: 20rem;
    }
  }