.user-container {
    display:grid;
    grid-template: repeat(3, 1fr) / repeat(3 , 1fr);

  }
  
  @media (max-aspect-ratio: 3/2) {
    .user-container {
      display:grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
  }

  @media (max-aspect-ratio: 1/1) {
    .user-container {
      display:grid;
      grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    }
  }

.MuiDrawer-paper{
  width:40%;
}

.MuiButton-label{
  color: #98A9BC;
  margin-left: 1rem;
}
