.footerLinks {
    display:inline-block;
    left: 87.22%;
    right: 6.94%;
    top: calc(50% - 24px/2 + 368px);
    
    font-family: Rubik;
    font-style: normal;
    /* identical to box height */
    text-align: right;
    letter-spacing: -0.733333px;
    color: #FFFFFF;
}
